<h1>dat newnew </h1>

<form action="/beers" method"POST">
    <label for="name">Beer Name</label>
    <input type="text" name="name">
    <br>
    <label for="style">Type</label>
    <input type="text" name="style">
    <br>
    <label for="beers">Beers</label>
    <input type="text" name="beers">
    <br>
    <input type="submit" value="Add New Beer">
</form>