<h1>BARS</h1>

<a href="/">Home</a>


<a href="/beers">Beers</a>
<br>

<form action="/bars" method="POST">
    <label for="name">Bar Name</label>
    <input type="text" name="name">
    <br>
    <label for="location">Location</label>
    <input type="text" name="location">
    <br>
    <label for="beers">Beers</label>
    <input type="text" name="beers">
    <br>
    <input type="submit" value="Add New Bar">

</form>